#baseAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.281);
    position: fixed;
    transition: 0.3s ease-in-out;

    >picture{
        position: fixed;
        top: 5%;
        right: 5%;
        >svg{
            cursor: pointer;
        }
    }
}

#container-baseAdd {
    background-color: var(--addBackground);
    min-width: 300px;
    min-height: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.411);
    gap: 20px;

    h1 {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
    }

    #container-form {
        height: 100%;
    }
}



/* RETIRANDO ICONE PADRÃO DO INPUT DATE*/
#containerDate>input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* INSERINDO ICONE NO INPUT DATE*/
#containerDate {

    background-color: var(--inputAdd);


    >input[type="date"] {

        width: 100%;
        display: flex;
        justify-content: space-between;
        background: url('../assets/material-symbols--date-range-outline\ \(1\).svg') no-repeat right 20px center;
        background-size: 30px;
        cursor: pointer;
        height: 40px;
        font-size: 20px;
        padding-right: 30px; padding-left: 10px;
        border:0px;
        transition: 00.2s ease;
        border-radius: 5px;
    }
    
    >input[type="date"]:focus {
        outline: none;
        background-color: var(--inputAddActive);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.212);
    }
}

/*RETIRANDO ICONE PADRÃO DO INPUT TIME*/
#containerHour>input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    
}

/* INSERINDO ICONE NO INPUT DATE*/
#containerHour {
    background-color: var(--inputAdd);
    border: 0;
    
    
    >input[type="time"] {
        padding-right: 30px; padding-left: 10px;
        border:0px;
        width: 100%;
        background: url('../assets/material-symbols--timer-outline.svg') no-repeat right 20px center;
        background-size: 30px;
        cursor: pointer;
        height: 40px;
        font-size: 20px;
        transition: 00.2s ease;
        border-radius: 5px;

    }
    >input[type="time"]:focus{
        outline: none;
        background-color: var(--inputAddActive);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.212);
        
    }
}



#form-add {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    
    div {
        width: 100%;
        display: flex;
    }
    
    #form-add-nome {
        height: 40px;
        font-size: 20px;
        margin: 0;
        border-radius: 5px;
        border: 0px;
        background-color: var(--inputAdd);
        padding: 0 10px;
        transition: 00.2s ease;
    }
    #form-add-nome:focus {
        outline: none;
        background-color: var(--inputAddActive);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.212);
        
    }
}

#form-add-containerDataHora {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}



#form-add-submit {
    background-color: var(--inputSubmit);
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    color: var(--colorText);
    border: 0;
    cursor: pointer;
}

#form-add-submit:hover{
    background-color: var(--inputSubmitHover);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.212);
}

/* CLASSES PARA INSERIR ANIMAÇÃO */

.openBackground{
    animation: backgroundOpenAdd forwards  1s;
}

.closeBackground{
    animation: backgroundCloseAdd forwards 1s;
}

.openBase{
    animation: baseOpenAdd forwards 1s;
}

.closeBase{
    animation: baseCloseAdd forwards 1s;
}

/* ANIMAÇÃO PARA ABRIR Add.JS */

@keyframes backgroundOpenAdd {
    from {
        background-color: transparent;
    }
    
    to {
        background-color: rgba(0, 0, 0, 0.281);
    }
}

@keyframes baseOpenAdd {
    from{
        opacity: 0%;
        transform: translateY(30px);
    }to{
        opacity: 100%;
        transform: translateY(0px);
    }
    
}

@keyframes baseOpenAddInvert {
    from{
        opacity: 0%;
        transform: translateY(-30px);
    }to{
        opacity: 100%;
        transform: translateY(0px);
    }
    
}
/* ANIMAÇÃO PARA FECHAR Add.JS */

@keyframes backgroundCloseAdd {
    from {
        background-color: rgba(0, 0, 0, 0.281);
    }
    
    to {
        background-color: transparent;
    }
}

@keyframes baseCloseAdd {
    from{
        opacity: 0%;
        transform: translateY(30px);
    }to{
        opacity: 100%;
        transform: translateY(0px);
    }
    
}

@keyframes baseCloseAddInvert {
    from{
    
        opacity: 100%;
        transform: translateY(0px);
    }to{
        opacity: 0%;
        transform: translateY(-30px);
    }
    
}