@import './add.css';

:root{
    --generalBackground: #ffffff;
    --addBackground: rgb(236, 236, 236);

    --inputAdd:white;
    --inputAddActive:rgb(252, 252, 252);
    --inputSubmit: #1d7fff;
    --inputSubmitHover: #186ad4;

    --colorText: white;
}