@import './add.css';

:root{
    --generalBackground: #3d3f49;
    --addBackground: #ececec;
    --compBackground: #d9d9d9;

    --inputAdd:white;
    --inputAddActive:rgb(252, 252, 252);
    --inputSubmit: #1d7fff;
    --inputSubmitHover: #186ad4;

    --colorText: white;
}